<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
          let texte = <%-JSON.stringify(text) %>
          let imgurls = <%-JSON.stringify(imgs) %>
  


    </script>
  </head>
  <body>
    <div id="col1" class="col">
    <p id="title">What is Love?*</p>
    <div class="info">
    <p class="footnote"><i>*(according to Instagrams automated Image Recognition)</i></p>
    <br>
    <p class="infotext">  
    There are 2.147.483.647 Instagram Posts using the hashtag #love.
    But what is #love?
  <br> 
    <br>
    This is a poetry album about the beauty of our lives — an attempt to describe #love. Written by Instagram itself, because:
      <br><br>
    <i>Who if not Instagram itself can know what #love really is?</i>

        <br>

    </div>
    </div>
    <div id="col2" class="col">


    </div>
    <img id="hoverimg" src="" alt="">
  </body>
  <footer>
  <script src="/js/main.js"></script>
  </footer>
</html>


