<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
          let texte = <%-JSON.stringify(text) %>
          let imgurls = <%-JSON.stringify(imgs) %>
  


    </script>
  </head>
  <body>
    <div id="col1" class="col">
    <p id="title">What is Love?*</p>
    <div class="info">
    <p class="footnote"><i>*(according to Instagrams automated Image Recognition)</i></p>
    <br>
    <p class="infotext">  
    Since 2016 Facebook uses AI-generated "alt"-Tags to describe the content of every uploaded image on their plattforms. <br>
    While this is yet primarily used to enhance accessibility for blind and visually Impaired people, its weirdly humanizing the system, as it is Instagrams attempt to visually understand the world and express it in human language.


    
  <br> 
    <br>
    This is Instagrams attempt to describe #love.
        <br>
      </div>
    </div>
    <div id="col2" class="col">


    </div>
    <img id="hoverimg" src="" alt="">
  </body>
  <footer>
  <script src="/js/main.js"></script>
  </footer>
</html>


