<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
          let texte = <%-JSON.stringify(texte) %>
          let alttexte = texte.alttexte

    </script>
  </head>
  <body>
    <h1>What is Love?</h1>
    <p>According to Instagrams Image Recognition</p>
  </body>
  <footer>
  <script src="/js/main.js"></script>
  </footer>
</html>
