<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
          let texte = <%-JSON.stringify(text) %>
          let isExhibitMode = <%-JSON.stringify(exhibitMode) %>
  
    </script>
  </head>
  <body>
    <div id="col1" class="col">    </div>
    <%if(!exhibitMode){%>
    <div id="col2" class="col">
    <p id="title"><span class ="heart"><3:</span><span class="info"><i> What is #love? According to Instagrams AI-generated image descriptions for images with hashtag #love</i> _ a project by <a href="https://davidwahrenburg.de" target="_blank" rel="noopener noreferrer">David Wahrenburg</a></span></p>
    </div>
    <%}%>
    </div>
    <div class="background"></div>
<audio id="audio" loop>
  <source src="audio/wil.mp3" type="audio/mpeg">
</audio>
  </body>
  <footer>
  <script src="/js/main.js"></script>
  </footer>
</html>


