@font-face {
  font-family: 'William';
  src: url('../fonts/William/9fc2418fac987960-subsetofWilliamTextPro-Reg.woff2') format('woff2'),
    url('../fonts/William/9fc2418fac987960-subsetofWilliamTextPro-Reg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'William';
  src: url('../fonts/William/ef09cfef922114cf-subsetofWilliamTextPro-RegIta.woff2') format('woff2'),
    url('../fonts/William/ef09cfef922114cf-subsetofWilliamTextPro-RegIta.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HydrogenType';
  src: url('../fonts/Hydro/HydrogenType.woff2') format('woff2'),
    url('../fonts/Hydro/HydrogenType.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2.5em;
  font-family: 'HydrogenType';
  /* text-align: center; */
  /* padding-top: 20px; */
  background: linear-gradient(180deg, rgb(243, 249, 250) 0%, rgb(223, 248, 254) 100%);
  min-height: 100vh;

  display: grid;
  /* grid-template-columns: 10px auto; */
  grid-template-rows: 1fr min-content;

  color: rgb(255, 0, 0);

}

a {
  color: red;
  text-decoration: underline;
}

p {
  line-height: 1;
}

#title {
  cursor: pointer;
  font-style: normal;
  text-shadow: 0px 0px 3px rgb(235, 0, 0);
  transition: all 100ms ease-in-out;
}

#title:hover {
  text-shadow: 0px 0px 3px rgb(223, 0, 0);
}

.info {
  display: none;
  font-size: .8em;
  text-shadow: 0px 0px 4px rgb(220, 0, 0);
}

@media(max-width: 768px) {
  .heart{
    display: none;
  }
  .info {
    display: block;
    font-size: .5em;

  }
}

.col {
  padding: 10px 15px;}

#col1 {
  font-style: normal;
  /* display: none; */
  /* align-content: space-between; */
  align-content: start;

}

#col2 {
  /* bottom: 0; */
  /* height: 100vh; */
  overflow: hidden;
  display: grid;

  align-content: start;
  word-wrap: break-word;

}

.poem {

  font-style: italic;
  /* position: absolute; */
  max-width: 100%;
  /* margin-top: 40vh; */
  margin-bottom: 5px;
  /* cursor: none; */
  text-shadow: 0px 0px 4px rgb(255, 51, 51);
  opacity: 0;
  transition: all 1500ms ease-out;
  transform: translateY(-30%);

  /* mix-blend-mode: difference; */
}

.visible {
  opacity: 1;
  transform: translateY(0%);
}


.hoverimg {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: grey;
  pointer-events: none;
  cursor: none;
  object-fit: cover;
  border-radius: 10px;
}


.background {
  position: absolute;
  left: 0;
  filter: blur(20px);
  /* transform: scale(1.3); */
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -100;
  background-size: 100vw 100vh;
  min-height: 100vh;
  /* opacity: ; */
  mix-blend-mode: overlay;
  background-image: url("../images/love-you-hearts.gif");
}